.siteHeader {
  width: 100%;
  background-color: var(--secondary-bg);
  padding: var(--spacing-md);
  color: var(--primary-color);
  box-shadow: var(--shadow-md);

  & .containerLeft {
    gap: var(--font-lg);

    & .siteLogo h1 {
      font-size: var(--font-lg);
      margin: 0;
    }

    & nav {
      gap: var(--spacing-md);

      & a {
        color: var(--primary-color);
        text-decoration: none;
        font-weight: var(--weight-bold);

        &:hover {
          color: #535bf2;
        }
      }
    }
  }

  & .headerBtns svg {
    cursor: pointer;
    display: none;
  }
}

@media (max-width: 768px) {
  .siteHeader {
    & nav {
      display: none;
    }

    & .headerBtns {
      align-items: center;
      justify-content: center;
      gap: var(--spacing-md);

      & svg {
        display: inline-block;
        font-size: 3rem;
      }
    }
  }
}
