.site-footer {
  width: 100%;
  background-color: var(--footer-bg-color);
  color: var(--secondary-text-color);
  padding: var(--spacing-md);
  text-align: center;
  box-shadow: var(--shadow-md) 0 -2px 4px rgba(0, 0, 0, 0.1);
}

.footer-content p {
  margin: 0;
  font-size: var(--font-size-sm);
}

.footer-links {
  list-style: none;
  margin: var(--spacing-md) 0 0;
  padding: 0;
}

.footer-links li {
  display: inline;
  margin: 0 var(--spacing-sm);
}

.footer-links a {
  color: var(--primary-text-color);
  text-decoration: none;
  font-weight: var(--font-weight-bold);
}

.footer-links a:hover {
  color: #646cff;
}
